.card {
  border-radius: 12px;
}

.card h3 {
  font-size: 1.6rem;
}

small {
  font-size: 0.85rem;
}

.card {
  border-radius: 12px;
}

.table thead th {
  font-weight: 600;
}

.badge {
  font-size: 0.85rem;
}

.card {
  border-radius: 12px;
}

.table thead th {
  font-weight: 600;
}

.badge {
  font-size: 0.85rem;
}

input.form-control,
select.form-select {
  border-radius: 8px;
}

.btn-purple {
  background-color: #7b3fe4;
  border: none;
}
.btn-purple:hover {
  background-color: #662ac2;
}
.modal-content {
  border-radius: 12px;
}

.k-lead-form {
  input {
    font-size: 12px;
  }
}

.sb-s {
  background-color: #4caf50; // Green
  color: white;
}

.sb-e {
  background-color: #f44336; // Red
  color: white;
}

.sb-w {
  background-color: #ff9800; // Orange
  color: black;
}
